@import "bootstrap";

.center {
  text-align: center;
}

.input-processo[class=input-processo] {
  width: 150px;
  padding: 10px;
  font-size: 16px;
}

body {
  padding-top: 60px;
}

.success {
  @extend .alert;
  @extend .alert-success;
  margin-bottom: 0px;
}